Project 1 - EDA/data/enem_2019_Full.parquet
Project 1 - EDA/data/enem_2022.csv
Extras/10. AutoML with PyCaret/logs.log
Extras/10. AutoML with PyCaret/Jornada Cientista de Dados - Encontros ao Vivo - AutoML com PyCaret.ipynb
